<% include ../partials/header %>

<main>

  <div class="bt-progressbar-container">
    <div class="bt-progressbar"></div>
  </div>

  <header>
    <h2>Stap 1: <span>Kleur</span></h2>
    <p>Kies een kleur voor je T-shirt:</p>
  </header>

  <form method="post" action="/text">
    <label class="bt-red-label" for="rood" title="Rood"></label>
    <input type="radio" id="rood" value="#e62222" name="kleur" hidden>

    <label class="bt-blue-label" for="blauw" title="Blauw"></label>
    <input type="radio" id="blauw" value="#2863e6" name="kleur" hidden>

    <label class="bt-yellow-label" for="geel" title="Geel"></label>
    <input type="radio" id="geel" value="#fbdd3e" name="kleur" hidden>

    <label class="bt-green-label" for="groen" title="Groen"></label>
    <input type="radio" id="groen" value="#1bc712" name="kleur" hidden>

    <label class="bt-purple-label" for="paars" title="Paars"></label>
    <input type="radio" id="paars" value="#9c1af6" name="kleur" hidden>

    <label class="bt-orange-label" for="oranje" title="Oranje"></label>
    <input type="radio" id="oranje" value="#ffb000" name="kleur" hidden>

    <label class="bt-black-label" for="zwart" title="Zwart"></label>
    <input type="radio" id="zwart" value="#000000" name="kleur" hidden>

    <label class="bt-white-label" for="wit" title="Wit"></label>
    <input type="radio" id="wit" value="#ffffff" name="kleur" hidden>

    <button type="submit" name="button" class="bt-color-submit-button">Bevestig</button>

    <svg id="ed4d6896-32aa-47cc-ab9f-d6e2f2f6c5a3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 484.54 460.77">
      <defs>
        <style>
          .fff611fd-d11e-429f-bd57-f749dd6baa13
            {
              fill:#ffffff;
              stroke:#000;
              stroke-miterlimit:10;
              stroke-width:16.54px;
            }
        </style>
      </defs>
      <title>tshirt-icon</title>
      <path class="fff611fd-d11e-429f-bd57-f749dd6baa13" d="M484,27.88H365.54v.94h-.81c0,1.25.08,2.48.08,3.74,0,81.09-51.4,146.83-114.81,146.83S135.19,113.65,135.19,32.56c0-1.26.05-2.49.08-3.74h-.81v-.94H16V179.39H76.69V472.12H423.31V179.39H484Z" transform="translate(-7.73 -19.61)"/></svg>
  </form>

  <footer>
    <a href="/">Terug</a>
  </footer>

</main>

<% include ../partials/footer %>
