<% include ../partials/header %>

<main>

  <div class="bt-progressbar-container">
    <div class="bt-progressbar-3"></div>
  </div>

  <header>
    <h2>Stap 3: <span>Drukken</span></h2>
    <p>Dit is jou nerdy t-shirt!</p>
  </header>

  <p class="bt-final-text"><%= tshirt.text %></p>

  <svg id="ed4d6896-32aa-47cc-ab9f-d6e2f2f6c5a3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 484.54 460.77">
    <defs>
      <style>
        .fff611fd-d11e-429f-bd57-f749dd6baa13
          {
            fill:#ffffff;
            stroke:#000;
            stroke-miterlimit:10;
            stroke-width:16.54px;
          }
      </style>
    </defs>
    <title>tshirt-icon</title>
    <path class="fff611fd-d11e-429f-bd57-f749dd6baa13" d="M484,27.88H365.54v.94h-.81c0,1.25.08,2.48.08,3.74,0,81.09-51.4,146.83-114.81,146.83S135.19,113.65,135.19,32.56c0-1.26.05-2.49.08-3.74h-.81v-.94H16V179.39H76.69V472.12H423.31V179.39H484Z" transform="translate(-7.73 -19.61)"/></svg>

  <footer>
    <a href="text">Terug</a>
    <a href="/">Downloaden  </a>
  </footer>

</main>

<% include ../partials/footer %>
